.profile-page {
    display: flex;
    flex-direction: column;
}

.profile-user-box {
    display: flex;
    width: 60%;
    position: relative;
    left: 23%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#profile-user-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1% 1% 1% 1%;
    width: 58%;
}

#profile-image {
    border: solid #29299B 3px;
    height: 100%;
    width: 15%;
}

#profile-image img {
    position: relative;
    top: 3px;
    height: 123px;
}

h6 {
    font-weight: 700;
    font-size: 165%;
    margin-left: 20px;
    text-align: left;
    position: absolute;
    left: 17%;
    top: 25%;
}

#profile-last_name {
    top: 75px;
}

.profile-buttons {
    border-radius: 1px;
    height: 45px;
    width: 110px;
    font-weight: 350;
    font-size: 18px;
    position: absolute;
}

#update {
    border: none;
    color: #ffffff;
    background: radial-gradient(circle at 50%-46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-right: 22px;
    left: 70%;
    top: 35%;
}

#cancel {
    border: solid 1px #ccc3c3;
    background: radial-gradient( circle at 50% 0, #ffffff, #f1eceb);
    left: 83%;
    top: 35%;
}

#profile-options-card {
    height: 60vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.prof-selector-box {
    /* border: solid black 1px; */
    width: 35%;
    height: 17%;
    margin-right: 20px;
    position: relative;
    top: 8%;
    left: 13%;
}

.profile-input {
    border: solid #29299B 1px;
    border-radius: 1px;
    height: 30px;
    width: 40%;
    font-weight: 55;
    font-size: 18px;
    padding: 1px 5px 1px 5px;
}

.prof-p-tags {
    font-weight: 550;
    font-size: 15px;
    position: relative;
    bottom: 1px;
    right: 30px;
}

.prof-selector {
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 18px;
    font-weight: 550;
    height: 25px;
    width: 42%;
}