body {
    background: #f2f2f2;
}

::-webkit-scrollbar {
    display: none;
}

.dash-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
    left: 22%;
}

.dash-content-box {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#user-info-box {
    width: 24.8%;
    height: 13vh;
    padding: 10px 10px 10px 10px;
    margin-right: 3.9%;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#user-image {
    border: solid #29299B 2px;
    height: 100%;
    width: 35%;
}

#user-image img {
    height: 123px;
}

#edit-prof {
    border: solid 1px #ccc3c3;
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
    height: 40px;
    width: 55%;
    position: relative;
    top: 8px;
    left: 12px;
    font-weight: 400;
    font-size: 20px
}

.user-name {
    text-align: left;
    font-size: 165%;
    font-weight: 700;
    margin-top: 11px;
    margin-left: 9px;
}

#welcome-text-box {
    width: 28.4%;
    height: 10.8vh;
    text-align: left;
    padding: 20px 15px 20px 15px ;
}

#welcome-text {
    font-weight: 400;
    font-size: 18px
}

#friends-list {
    width: 60%;
    height: 67vh;
    display: flex;
    flex-wrap: wrap;
}

.rec-fri-box {
    width: 25%;
    margin-right: 56%;
    position: relative;
    top: 14px;
}

h4 {
    font-weight: 350;
    font-size: 25px;
}

.select-box {
    width: 18%;
    display: flex;
}

.select-box p {
    font-size: 18px;
}

#sorted-by {
    font-weight: 350;
    position: absolute;
    top: 24.35%;
    left: 44.5%;
}

.selector {
    border-radius: 5px;
    background: linear-gradient(128deg, rgba(64, 61, 57, 0.1), rgba(255, 255, 255, 0.2));
    font-size: 18px;
    height: 25px;
    margin-left: 5px;
    position: absolute;
    top: 24%;
    left: 50%;
}

.friends-grid {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    bottom: 2%;
    left: 1%;
    height: 70%;
    width: 58%;
    overflow: scroll;
}

.friend-card {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 46%;
    height: 25%;
    display: flex;
    margin: 5px 10px 5px 15px;
}

.friend-name {
    width: 20%;
    font-weight: 700;
    font-size: 150%;
    text-align: left;
}

#friend-first-name {
    position: relative;
    top: 30%;
}

#friend-last-name {
    position: relative;
    top: 35%;
}

#add-friend {
   border: none;
   border-radius: 1px;
   background-image: radial-gradient(circle at 50% 0, #29299B, #114CBB);
   color: #ffffff;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); 
   height: 40px;
   width: 25%;
   position: relative;
   top: 35%;
   left: 22%;
}

#no-rec {
    position: absolute;
    top: 5%;
    left: 41.5%;
}

